/node_modules
config.json
.env

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
../.idea
../.expo
/public/bundle.js
production.js

package-lock.json
yarn.lock

/build

public/assets/app.bundle.js
public/assets/app.bundle.js.map
public/assets/app.styles.css
public/assets/app.vendor.bundle.js
public/assets/app.vendor.bundle.js.map
public/assets/fontawesome-webfont.svg
public/assets/glyphicons-halflings-regular.svg
public/assets/ionicons.svg
