/node_modules
config.json
.env

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
../.idea
../.expo
/public/bundle.js
production.js

package-lock.json
yarn.lock
